
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    text-align: center;
    /* gap: .5rem; */
    background-color:white;
    color: black;
    
}
a{
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color : black
}
p{
    margin-left: 10%;
    margin-right: 10%;
}